
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* sharded styles */
.display-flex{
    display: flex;
}
/* color1 */
.text-gray{
color:rgba(66, 66, 66, 0.99); 
}
/* color2 */
.text-light-gray{
  color: rgba(114, 114, 114, 1);
}
/* background-color */
.bg-light{
  background-color: rgba(255, 144, 13, 0.1);
}
.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600px;
  border-radius: 8px;
  border: none;
  
}

/* header styles */

/* navbar styles */
.nav-bar{
  justify-content: space-between;
  align-items: center;
   
}
.brand{
  font-weight: 700px;
  font-size: 45px; /* 45px=3rem, 16px=1rem */

}
.nav-item{
   list-style: none;
   margin-right: 30px;

}
.nav-links{
  text-decoration: none;
  font-weight: 500px;
}
.navbar ,.banner{
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */
.banner-container{
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700px;
  font-size: 4rem;
}
.banner-img{
  width: 100%;
}
/* team and feature related style */
.team{
  align-items: center;
}
.team-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

main > section{
  margin-top: 85px;
  margin-bottom:130px;
}
.feature{
  margin-left: 73px;
  max-width: 530px;

}
.feature-title{
  font-size:2.8rem ;
  font-weight: 700;
}
#part1{
  font-weight: 500;
}
.text-primary{
  color:rgba(255, 144, 14, 1) ;
}
/* some fact related style */
.fact{
  margin-left: 73px;
}
.fact-description{
  max-width: 540px;
}
.fact-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-card{
  border: 1px solid rgba(255, 144, 14, 1);
  width: 240px;
  height: 240px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin: 10px;
}
.text-primary{
  color:rgba(19, 19, 19, 1);
}
/* sponsor related style */
.our-sponsors{
   margin-left: 73px;
   text-align: center;
   justify-content: center;
   align-items: center;

}
.sponsor-info{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;

}
.sponsor-img{
  display: grid;
  grid-template-columns: repeat(5,1fr);

}
.sponsor-img{
  filter: grayscale(100%);
}
.footer-description{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color:rgba(255, 244, 231, 1) ;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  height: 100px;
  max-width: 1440;
}


/* responsive media query */
@media screen and (max-width:576px){
  .nav-bar, .nav-links, .team ,.sponsor-img{
    flex-direction: column;
  }
.team-img,.fact-container ,.sponsor-img{
  grid-template-columns: repeat(1, 1fr);
}
.fact-container,.sponsor-img{
  justify-content: center;
  gap: 24px;
  

}
}
/* medium size device */
@media screen and(min-width: 576px) and (max-width: 992px){
  .team{
    flex-direction: column;
  }
  .feature{
    margin: 50px auto;
  }
}